<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UseAutoLayOut.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F60F28F1CD0E3510075D984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F60F2A81CD0E3520075D984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F60F2B31CD0E3520075D984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
